:host {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.cursor-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #81b59d;
  border-radius: 50%;
  position: relative;
  animation: pulse 3s ease-in-out infinite;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #81b59d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 6px rgba(129, 181, 157, 0.9);
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 10px rgba(129, 181, 157, 0.6),inset 0 0 18px rgba(129, 181, 157, 0.2);
    backdrop-filter: blur(3px);
     -webkit-backdrop-filter: blur(3px);
  }
  50% {
    box-shadow: 0 0 12px rgba(129, 181, 157, 0.9);
    backdrop-filter: blur(1px);
     -webkit-backdrop-filter: blur(1px);
  }
}

